* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
#wrapper {
  width: 100%;
  .nav-default {
    border: 0 solid #000;
  }
  .top-navbar {
    background: #fff;
    z-index: 1000;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    border: 0 solid #000;
    .navbar-brand {
      color: #fff;
      width: 260px;
      height: 60px;
      font-size: 30px;
      line-height: 30px;
      background: #32323a;
      b {
        margin-right: 10px;
        color: #2d8cf0;
      }
    }
    .nav-right {
      float: right;
    }
    .navbar-top-links {
      margin-right: 0;
    }
    .nav > li {
      &:hover .dropdown-menu {
        display: block;
      }
      & > a {
        position: relative;
        padding: 20px;
        color: #fff;
        span {
          color: #666;
          margin-right: 5px;
        }
        i {
          margin-right: 2px;
          color: #666;
        }
      }
      .dropdown-menu {
        min-width: 230px;
        top: 98%;
        border-radius: 0 0 4px 4px;
        padding: 10px;
        & > li > a {
          cursor: pointer;
          i > span {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .navbar-side {
    z-index: 1;
    position: fixed;
    width: 260px;
    top: 60px;
    bottom: 0;
    overflow-y: auto;
    background: #2b2e33;
    .active-menu {
      background: #2d8cf0 !important;
      color: #fff !important;
      
    }
    .sidebar-collapse {
      .nav > li > a {
        padding: 12px 10px;
        color: #b5b5b5;
        &:focus, &:hover{
          background-color: transparent;
        }
        i {
          padding: 8px;
          width: 30px;
          text-align: center;
          margin-right: 10px;
        }
      }
      .active {
        .nav.nav-second-level.collapse.in {
          background: #17191b;
        }
        .nav-second-level li a {
          padding-left: 37px;
          background: #17191b;
        }
      }
    }

    .arrow {
      float: right;
      margin-top: 8px;
    }
    .fa.arrow:before {
      content: "\f104";
    }
    .active > a > .fa.arrow:before {
      content: "\f107";
    }
  }
  #page-wrapper {
    margin: 0 0 0 260px;
    padding: 50px 30px;
  }
  @media (max-width: 768px) {
    .navbar {
      margin-bottom: 0;
    }
    .top-navbar {
      position: relative;
    }
    .top-navbar .navbar-brand {
      width: 100%;
    }
    .navbar-side {
      z-index: 1;
      width: 100%;
      position: relative;
      top: 0;
    }
    #page-wrapper {
      margin: 0;
      padding: 15px 30px;
      top: 0;
    }
  }
}
